/* CSS-Stylesheet (CS): matchesonscrollbar.css @ 2023-05-17 07:49:21 +0000 */
.CodeMirror-search-match{background:gold;border-top:1px solid orange;border-bottom:1px solid orange;-moz-box-sizing:border-box;box-sizing:border-box;opacity:.5}
/* #END */
