/* CSS-Stylesheet (CS): smart-jRate.css @ 2023-05-17 07:49:34 +0000 */
div.rating-stars-area{display:inline-block;border:1px dashed #F2F2F2;margin-bottom:15px;text-align:center}div.rating-stars-area span{color:#AABBCC;font-weight:bold;font-size:0.6875rem}
/* #END */
