/* CSS-Stylesheet (CS): foldgutter.css @ 2023-05-17 07:49:12 +0000 */
.CodeMirror-foldmarker{color:#FF5500;text-shadow:#ECECEC 1px 1px 2px,#ECECEC -1px -1px 2px,#ECECEC 1px -1px 2px,#ECECEC -1px 1px 2px;font-weight:bold;line-height:0.3;cursor:pointer}.CodeMirror-foldgutter{width:0.8em}.CodeMirror-foldgutter-open,.CodeMirror-foldgutter-folded{cursor:pointer}.CodeMirror-foldgutter-open:after{content:"\25BE";color:#778899}.CodeMirror-foldgutter-folded:after{content:"\25B8";color:#FF5500}
/* #END */
